
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

.card{
    width: 15%;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px;
    border-radius: 15px;
   
    
    /* -webkit-backdrop-filter: blur(6.2px);
    backdrop-filter: blur(6.2px);
    background: rgba (255,255,255,0.4); */
    
}

body {
    overflow: hidden;
  }